@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  /* background: #040015; */
  overflow-x: hidden;
}
.cro-calculator{
  height: 674px;
  width: 1184px;
  overflow: hidden;
}
.ct-r-li {
  display: inline-flex;
  background: #fff;
  padding: 6px 8px;
  margin: 0 15px 10px 0;
  border-radius: 5px;
  list-style: none;
  color: #000;
  align-items: center;
}

.ct-r-li span {
  color: #fff;
  background: url('https://pulsemarketing.cloud/mart9/wp-content/uploads/2025/03/21-2.png');
  background-size: contain;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .cro-calculator{
      height: 1169px;
      width: 100%;
  }
  .text-colum{
    position: relative;
    z-index: 5;
  }
  .seo-overlay{
    position: relative !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 70% 0 !important;
  }
  .seo-overlay2{
    position: relative !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 10% 50% !important;
  }
  .seo-overlay::before{
  content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000a8;
    position: absolute;
    z-index: 1;
  }
  .seo-overlay2::before{
    content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000000a8;
      position: absolute;
      z-index: 1;
    }
  .bg-overlay{
    background-position: 0 0;
    background-size: cover;
    padding: 0px;
  }
  .bg-overlay::before{
      content: "";
      left: 0;
      top: 0;
      background: linear-gradient(209deg, #000000fc, transparent);
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .swiper-slide {
    width: 100% !important;
  }
  .ct-banner:before {
    content: "";
    bottom: 0;
    width: 100%;
    position: absolute;
    box-shadow: -20px 0px 100px 100px #2b7d9d;
    opacity: 0;
    display: hidden;
  }
}
.ct-banner {
  position: relative;
}

.ct-banner:before {
  content: "";
  bottom: 0;
  width: 100%;
  position: absolute;
  box-shadow: -20px 0px 100px 100px #2b7d9d;
  opacity: 1;
}
#cancel-btn{
  font-size:10px !important;
}
#submit-btn{
  font-size: 10px !important;
}

.swiper-slide {
  width: 400px !important;
}

@media screen and (min-width: 601px) {
  .swiper-slide {
    width: 400px !important;
  }
}

/* .calendly-inline-widget {
  max-height: 100%;
  overflow-y: auto;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  font-size: 18px !important;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.my-card {
  background: linear-gradient(
    251.15deg,
    rgba(255, 255, 255, 0.2) -4.43%,
    rgba(255, 255, 255, 0.052) 100.18%
  );
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(208.08deg, #50a2d4 10.76%, #20658f 65.05%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(208.08deg, #50a2d4 10.76%, #20658f 65.05%);
  cursor: grab;
}

.filter-invert {
  filter: invert(1);
}

/* image ebhaviour CSS FOR TABS */
.window {
  width: 360px;
  margin: auto;
  border-radius: 5px;
  cursor: n-resize;
}

.card-text {
  font-size: 15px;
}

@media screen and (min-width: 1025px) and (max-width: 1248px) {
  .card-css div {
    display: block;
  }
  .card-css div h3 {
    font-size: 13px;
  }
  .card-css {
    display: flex;
    flex-direction: column-reverse;
  }

  .card-css h2 {
    position: relative;
  }
}

@media screen and (max-width: 1300px) {
  .card-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .window {
    margin-top: 15px;
  }
  .card-css div h3 {
    font: size 15px;
  }
}

.header {
  padding: 0px 150px !important;
}
.hre-section {
  padding-left: 90px !important;
}
.social-logos {
  padding-left: 30px;
  gap: 12px;
}

.social-logos .rounded-full {
  width: 30px !important;
  height: 30px !important;
}

.social-logos img {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  object-fit: contain;
}
.contact-btn {
  padding: 13px 18px;
  font-size: 18px;
}

.contact-btn .rounded-full {
  background: var(
    --gradient,
    linear-gradient(to top, #50a2d4, #6ee3d7)
  ) !important;
  color: #fff !important;
  padding: 5px !important;
  margin-left: 18px !important;
}
.get-btn {
  bottom: -63px !important;
  padding: 0 !important;
  max-width: 400px !important;
}

.get-btn .bg-\[\#50A2D4\].px-6.rounded-tl-\[40px\].py-3 {
  padding: 30px 48px !important;
  border-radius: 60px 0px 0px 0px !important;
}

.get-btn .bg-\[\#50A2D4\].px-6.rounded-tl-\[40px\].py-3 h3 {
  font-size: 25px !important;
  text-transform: capitalize !important;
}
.ct-heading {
  line-height: 1.3em;
}

.ct-tabs .window {
  width: 100% !important;
}

.ct-tabs
  .jsx-c24f23d73b4daffa.grid.grid-cols-2.sm\:grid-cols-3.lg\:grid-cols-4.gap-4.mb-4.md\:mb-14.mx-auto.px-4.w-full {
  margin-bottom: 35px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.ct-tabs
  .jsx-c24f23d73b4daffa.grid.grid-cols-2.sm\:grid-cols-3.lg\:grid-cols-4.gap-4.mb-4.md\:mb-14.mx-auto.px-4.w-full
  button {
  flex: 0 0 24% !important;
  padding: 18px 0 !important;
}
.ct-padding {
  padding-top: 50px !important;
}
.card-section {
  padding: 90px 0 !important;
}
.card-section h1 {
  font-size: 54px !important;
  line-height: 1.2em !important;
  min-width: 400px !important;
  --width: 700px;
  max-width: var(--width);
  width: var(--width);
}

.testimonial .slick-arrow {
  width: 60px !important;
  height: 60px !important;
  background: var(
    --gradient,
    linear-gradient(to top, #50a2d4, #6ee3d7)
  ) !important;
  border-radius: 50% !important;
}

.testimonial .slick-arrow::before {
  background: transparent !important;
  color: #fff !important;
  font-size: 33px;
  position: relative;
  top: 3px;
}

.testimonial h2 {
  font-size: 30px !important;
}

.testimonial .text-\[\#50A2D4\].poppins-light.text-\[13px\] {
  font-size: 15px !important;
}

.testimonial p {
  font-size: 20px !important;
}

/* Responsiveness */

@media screen and (max-width: 640px) {
  .window {
    width: 350px;
  }
}

@media screen and (min-width: 640px) and (max-width: 900px) {
  .window {
    width: 400px;
  }
}

.window .image {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 375px;
  transition: 8s all ease;
}

.window .image:hover {
  object-position: bottom;
}

@media screen and (max-width: 600px) {
  .hero-text {
    font-size: 30px !important;
  }
  .hero-text br {
    display: none;
  }
  .header {
    padding: 0 20px !important;
  }

  .header
    .bg-\[\#50A2D4\].my-3.md\:my-0.text-white.hover\:transition-all.hover\:duration-600.hover\:ease-in-out.hover\:bg-white.hover\:text-\[\#62c9d6\].flex.justify-center.items-center.px-5.py-2.cursor-pointer.rounded-3xl {
    max-width: 250px;
  }

  .hre-section {
    padding: 0 20px !important;
  }
  .social-logos {
    display: none;
  }
  .hre-section h1 {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  .hre-section p {
    font-size: 14px;
  }

  .ct-padding {
    padding-top: 0px !important;
    margin-top: -50px;
  }

  .ct-padding h1 {
    font-size: 25px;
  }

  .ct-padding p {
    font-size: 14px;
  }

  .contact-btn {
    padding: 7px 20px;
  }

  .ct-heading {
    font-size: 25px;
  }

  .my-16 {
    margin: 40px 0;
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
  }

  .ct-tabs
    .jsx-c24f23d73b4daffa.grid.grid-cols-2.sm\:grid-cols-3.lg\:grid-cols-4.gap-4.mb-4.md\:mb-14.mx-auto.px-4.w-full
    button {
    flex: 0 0 46% !important;
    padding: 8px 0px !important;
    font-size: 14px;
  }

  .card-section {
    padding: 60px 0 !important;
  }

  .card-section
    .w-full.px-6.lg\:px-0.lg\:flex.flex-row.justify-between.items-center.py-20.md\:pt-0 {
    padding: 0 0 !important;
  }

  .card-section h1 {
    font-size: 20px !important;
  }

  .card-section
    .w-full.flex.flex-wrap.justify-between.items-center.px-8.lg\:px-0 {
    padding: 40px 0 0 0;
  }

  .testimonial {
    padding: 0 0 60px 0;
  }

  .testimonial h1 {
    font-size: 25px;
  }

  .testimonial p {
    font-size: 14px !important;
    margin-top: 0;
  }

  .testimonial
    .w-\[90\%\].lg\:w-\[35\%\].poppins-light.font-light.pt-8.md\:pt-0 {
    padding: 0;
  }

  .testimonial h2 {
    font-size: 20px !important;
  }

  .testimonial .text-\[\#50A2D4\].poppins-light.text-\[13px\] {
    font-size: 11px !important;
  }

  .testimonial p {
    font-size: 12px !important;
  }

  .testimonial .slick-arrow {
    --size: 30px !important;
    width: var(--size) !important;
    height: var(--size) !important;
  }

  .testimonial .slick-arrow:before {
    font-size: 14px;
    top: 1px;
  }

  .ct-projects h1 {
    font-size: 20px;
    line-height: 1.2em;
  }

  .ct-projects p {
    font-size: 14px !important;
    line-height: 1.2em;
  }

  .ct-projects .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root {
    padding: 0 0;
  }

  .ct-projects button {
    padding: 0 0 !important;
  }

  .ct-projects h1 {
    font-size: 20px;
    line-height: 1.2em;
  }

  .ct-projects p {
    font-size: 14px !important;
    line-height: 1.2em;
  }

  .ct-projects .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root {
    padding: 0 0;
  }

  .ct-projects button {
    padding: 0 0 !important;
  }

  .get-mv-btbn h3 {
    font-size: 13px;
    line-height: 1.2;
  }

  .get-mv-btbn {
    padding: 14px 10px !important;
    bottom: 18px;
    position: relative;
  }
  .footer-top {
    margin-top: -210px;
  }
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.block-33 {
  width: 33.33%;
}
.display--inline-top {
  display: inline-block;
  vertical-align: top;
}
.fill-dimensions {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.relative {
  position: relative;
}
.cover-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first-banner-img {
  background-image: url("/web banner-04.jpg");
  background-size: cover;
}

.first-banner-img2 {
  background-image: url("/web banner-05.jpg");
  background-size: cover;
}

.first-banner-img3 {
  background-image: url("/web banner-06.jpg");
  background-size: cover;
}

.first-banner-img4 {
  background-image: url("/web banner-07.jpg");
  background-size: cover;
}

.first-banner-img5 {
  background-image: url("/web banner-08.jpg");
  background-size: cover;
}

.first-banner-img6 {
  background-image: url("/web banner-09.jpg");
  background-size: cover;
}

.first-banner-img7 {
  background-image: url("/web banner-10.jpg");
  background-size: cover;
}

.first-banner-img8 {
  background-image: url("/web banner-11.jpg");
  background-size: cover;
}

.second-banner {
  background-image: url("/web banner-02.png");
  background-size: cover;
}

.second-banner-img1 {
  background-image: url("/web banner-12.jpg");
  background-size: cover;
}

.second-banner-img2 {
  background-image: url("/web banner-13.jpg");
  background-size: cover;
}

.second-banner-img3 {
  background-image: url("/web banner-14.jpg");
  background-size: cover;
}

.second-banner-img4 {
  background-image: url("/web banner-15.jpg");
  background-size: cover;
}
.third-banner {
  background-image: url("/web banner-20.jpg");
  background-size: cover;
}

.third-banner-img1 {
  background-image: url("/web banner-21.jpg");
  background-size: cover;
}

.third-banner-img2 {
  background-image: url("/web banner-22.jpg");
  background-size: cover;
}

.third-banner-img3 {
  background-image: url("/web banner-23.jpg");
  background-size: cover;
}

.third-banner-img4 {
  background-image: url("/web banner-24.jpg");
  background-size: cover;
}

.third-banner-img5 {
  background-image: url("/web banner-25.jpg");
  background-size: cover;
}
.gallery-image {
  padding-bottom: 10px;
  animation: marqueeTop 8s linear infinite;
}

.gallery-h--tb {
  .gallery-image {
    animation: marqueeBottom 8s linear infinite;
  }
}

.gallery-image__img {
  padding-top: 50vh;
  max-width: 35vh;
  margin: 0 auto;
}

.gallery-h {
  overflow: hidden;
}

@keyframes marqueeTop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes marqueeBottom {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .cursor {
    display: none !important;
  }

  /* .flower-cursor {
    display: none !important;
} */

  .ct-padding {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 150s linear infinite;
}

/* WebsiteAuditForm.css */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  max-width: 500px;
  justify-content: center;
  margin: 0 auto;
}

.audit-form {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #f9f9f9;
  color: white;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#so-form {
  margin: 10px !important;
}
#so-fieldswrapso1717549071 {
  width: 300px !important;
}
.so-fieldso1717549071 {
  background-color: #ffffff !important;
  border: 1px solid #e3e3e3 !important;
  border-radius: 4px !important;
  color: #565656 !important;
  padding: 7px 12px !important;
  font-size: 18px !important;
  box-sizing: border-box !important;
  height: 45px !important;
  width: 100% !important;
  display: block !important;
  margin-top: 5px !important;
}
.so-fieldso1717549071::placeholder {
  color: #777777 !important;
}

@media screen and (max-width: 345px) {
  .so-fieldso1717549071 {
    min-width: 100px !important;
  }
}

@media screen and (max-width: 500px) {
  .so-fieldso1717549071 {
    font-size: 12px !important;
    height: 30px !important;
  }

  #so-submitso1717549071 {
    font-size: 12px !important;
    height: 30px;
    padding: 1px 20px !important;
  }

  #so-fieldswrapso1717549071 {
    width: 100%;
  }
}

#so-submitso1717549071 {
  background-color: #253fa4 !important;
  border: 1px solid #253fa4 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  height: 45px !important;
  font-size: 18px !important;
  line-height: 18px !important;
  display: block !important;
  padding: 8px 50px !important;
  margin: 5px auto !important;
}

@media screen and (max-width: 500px) {
  #so-submitso1717549071 {
    font-size: 12px !important;
    height: 30px !important;
    padding: 1px 20px !important;
  }
}

.so-container {
  width: 100%;
  text-align: center;
}
.so-widget-form {
  display: inline-block !important;
}
#so-boxso1717549071 {
  display: inline-block;
}
#so-titleso1717549071 {
  margin-bottom: 5px;
  font-size: 26px !important;
  color: #777777 !important;
}

@media screen and (max-width: 500px) {
  #so-titleso1717549071 {
    font-size: 13px !important;
  }

  #so-paragraphso1717549071 {
    font-size: 10px !important;
  }

  #so-consentso1717549071 span {
    font-size: 10px !important;
  }
}

#so-paragraphso1717549071 {
  margin-bottom: 10px;
  font-size: 14px !important;
  color: #777777 !important;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left {
  animation: slideInLeft 0.7s forwards;
}

.animate-right {
  animation: slideInRight 0.7s forwards;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite; /* Speed slow ki */
}
@media screen and (max-width: 600px) {
  .contact-btn {
      padding: 7px 20px;
      margin: 0;
  }
}